body {
	padding-top: 65px;
}
.navbar-right > li:last-child {
	padding-right: 20px;
}

.clickable-row:hover {
	cursor: pointer;
}

.ogloszenie-title h2 {
	margin-bottom: 0;
}
.ogloszenie-title p {
	color: gray;
}
.ogloszenie-title {
	margin-bottom: 25px;
}

.ogloszenie-photo img {
	max-width: 100%;
	border: 1px solid gray;
}
.ogloszenie-thumb {
	max-height: 80px;
	border: 1px solid gray;

}

.ogloszenie-properties p {
	border-bottom: 1px solid lightgray;
	height: 35px;
}

.ogloszenie-properties p {
	color: gray;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.ogloszenie-content p {
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 50px;
}
.ogloszenie-price {
	font-size: 18px;
	font-weight: bold;
	color: black;
}

