{% extends "ads/details.html"}

{% block contact_form %}
	<form method="POST" action="" enctype="multipart/form-data" role="form" class="form-horizontal">
	    {% csrf_token %}
	    {% for field in msg_form %}
	    	<div class="form-group">
	    		<label class="control-label col-sm-5" for="{{ field.id_for_label }}">{{ field.label }}</label>
	    		<div class="col-sm-2">
	    			{% if field.html_name == "photo" %}
	    				{{ field | add_class:"file" }}
	    			{% else %}
		    			{{ field | add_class:"form-control" }}
		    		{% endif %}
		    	</div>
		    </div>
	    {% endfor %}
	    <div class="form-group">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="submit" class="btn btn-default">
				<span class="glyphicon glyphicon-envelope">Dodaj</button>
		</div>
{% endblock contact_form %}  