{% extends "base.html" %}

{% block title %}
	Wiadomości
{% endblock %}

{% block content %}
	<div class="container">
	  <h2>Wiadomości</h2>
	  <p>Lista konwersacji:</p>            
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Ogłoszenie</th>
	        <th>Uczestnicy konwersacji</th>
	        <th>Data</th>
	      </tr>
	    </thead>
	    <tbody>
	    
	      {% for message in messages_list %}
	      	<tr class="clickable-row" data-href="{% url 'details' message.id %}">
				
				<td>{{ message.advert }}</td>
				<td>{{ message.buyer }}, {{ message.seller }}</td>
				
			</tr>
			
		  {% endfor %}

	    </tbody>
	  </table>
	</div>

	<!-- extra JQuery for clickable rows -->
	<script>
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.document.location = $(this).data("href");
		    });
		});
	</script>
{% endblock %}
	