{% extends "base.html" %}
{% load static widget_tweaks %}


{% block content %}
<div class="container">
{% for msg in thread %}
	<div class="row">
	{% ifequal msg.sender.user request.user %} 
	<div class="bg-success col-sm-9">
		<blockquote>
		<p> {{msg.msg_body}} </p>
		<footer>{{msg.sender.user }}, {{ msg.send_date }}</footer>
		</blockquote>
	</div>
	{% else %}
	<div class="bg-info col-sm-offset-3 col-sm-9">
		<blockquote class="blockquote-reverse">
		<p> {{msg.msg_body}} </p>
		<footer>{{msg.sender.user }}, {{ msg.send_date }}</footer>
		</blockquote>	
	</div>
	 {% endifequal %}
	</div>


{% endfor %}

{% block contact_form %}
	<form method="POST" action="/message/reply_message" enctype="multipart/form-data" role="form" class="form-horizontal">
	    {% csrf_token %}
	    {% for field in contact_form.visible_fields %}
	    	<div class="form-group">
	    		<label class="control-label  col-sm-7" for="{{ field.id_for_label }}">{{ field.label }}</label>
	    		<div class="col-sm-offset-1 col-sm-10">
		    		{{ field | add_class:"form-control"}} 
		    	</div>
		    </div>
	    {% endfor %}
	    		<div class="form-group">
		    		<input type="hidden" name="thread" value = {{thread.0.thread.id}}>	
		    		
		    	</div>
	    <div class="form-group">
		<div class="col-sm-offset-5 col-sm-10">
			<button type="submit" class="btn btn-info">
				<span class="glyphicon glyphicon-envelope"></span> Odpowiedz
			</button>
		</div>
	</form>
{% endblock contact_form %}

</div>
{% endblock content %}


  