{% extends "base.html" %}

{% block title %}
	Profil użytkownika {{ profile.user.username }}
{% endblock %}

{% block content %}
	<div class="container">
	  <h2>Użytkownik {{ profile.user.username }}</h2>
	  <img src="{{ profile.get_avatar_url }}" /> 
	  <p>Lista ogłoszeń dodanych przez użytkownika:</p>            
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Tytuł</th>
	        <th>Data dodania</th>
	        <th>Cena</th>
	        <th>Czy aktywne?</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for ad in ads_list %}
	      	<tr class="clickable-row" data-href="{{ ad.get_absolute_url }}">
				<td>{{ ad.title }}</td>
				<td>{{ ad.create_date }}</td>
				<td>{{ ad.price }}</td>
				<td>{{ ad.active }}</td>
			</tr>
		  {% endfor %}
	    </tbody>
	  </table>
	</div>

	<script>
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.document.location = $(this).data("href");
		    });
		});
	</script>
{% endblock %}