{% extends "base.html" %}

{% block title %}
	Użytkownicy
{% endblock %}

{% block content %}
	<div class="container">
	  <h2>Użytkownicy</h2>
	  <p>Lista zarejestrowanych użytkowników portalu:</p>            
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Login</th>
	        <th>Akademik</th>
	        <th>E-mail</th>
	        
	      </tr>
	    </thead>
	    <tbody>
	      {% for profile in profiles %}
	      	<tr class="clickable-row" data-href="{{ profile.get_absolute_url }}">
				<td>{{ profile.user.username }}</td>
				<td>{{ profile.get_dorm_display }}</td>
				<td>{{ profile.user.email }}</td>
			</tr>
			
		  {% endfor %}
	    </tbody>
	  </table>
	</div>

	<!-- extra JQuery for clickable rows -->
	<script>
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.document.location = $(this).data("href");
		    });
		});
	</script>
{% endblock %}
	