{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
    Zaloguj się
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}

    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Zaloguj się</h1>
            </div>
        </div>
    </div>

    {% if form.errors %}
        <div class="row">
            <div class="text-center alert alert-danger">
                <strong>Niewłaściwy login lub hasło</strong>
            </div>
        </div>
    {% endif %}

    <form method="post" action="" role="form" class="form-horizontal">
        {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label class="control-label col-sm-5" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-sm-2">
                    {{ field | add_class:"form-control" }}
                </div>
            </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
                <button type="submit" class="btn btn-default">Wyślij</button>
            </div>
        </div>

        <input type="hidden" name="next" value="{% url 'home_page' %}" />
    </form>

{% else %}
    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Jesteś już zalogowany</h1>
            </div>
        </div>
    </div>
{% endif %}


{% endblock %}