{% extends "base.html" %}

{% block title %}Witaj!{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 40px;">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Rejestracja przeprowadzona pomyślnie!</h1>
			<h3>Teraz możesz przejść do swojego profilu i uzupełnić dane.</h3>
		</div>
	</div>
{% endblock %}