{% extends "base.html" %}
{% load static widget_tweaks %}

{% block title %}
	Tytuł : {{ ad.title }}
{% endblock %}

{% block content %}
	<div class="container" style="margin-bottom: 60px;">
		<div class="row ogloszenie-title">
			<div class="col-sm-6 col-sm-offset-3">
				<h2>{{ ad.title }}</h2>
				<p>Zamieszczono: {{ ad.create_date }}</p>
				{% if user.is_authenticated and request.user.userprofile == ad.profile %}
	  				<a href="{{ ad.get_absolute_edit_url }} "><span class="glyphicon glyphicon-file"></span> Edytuj ogłoszenie</a>
	  			{% endif %}
			</div>
		</div>
		
		<div class="row ogloszenie-properties">
			<p class="col-sm-3 col-sm-offset-3">Akademik: </p>
			<p class="col-sm-3 text-right"><strong>{{ ad.profile.get_dorm_display }}</strong></p>
		</div>
		<div class="row ogloszenie-properties">
			<p class="col-sm-3 col-sm-offset-3">Dodane przez: </p>
			<p class="col-sm-3 text-right"><strong>{{ ad.profile.user.username }}</strong></p>
		</div>
		<div class="row ogloszenie-properties">
			<p class="col-sm-3 col-sm-offset-3">Cena: </p>
			<p class="col-sm-3 text-right"><span class="ogloszenie-price">{{ ad.price }}</span></p>
		</div>
		<div class="row ogloszenie-content">
			<p class="col-sm-6 col-sm-offset-3">{{ ad.content }}</p>
		</div>             
	  	<div class="row ogloszenie-photo">
	  		<div class="col-sm-6 col-sm-offset-3 text-center">
				<img src="{{ ad.get_photo_url }}" />
			</div>
		</div>
        <br />
		

		{% block contact_form %}
        {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <strong>Zaloguj się, aby wysłać pytanie o przedmiot.</strong>
            </div>
        </div>
        {% else %}    
			{% ifnotequal request.user ad.profile.user %}
			<div class="row">
			<div class="col-sm-2 col-sm-offset-5">
		     <a href="#reply" class="btn btn-info" data-toggle="collapse">Napisz wiadomość</a>
		 	</div>
		 	</div>
			<div id="reply" class="collapse">

			<form method="POST" action="/message/create_message" enctype="multipart/form-data" role="form" class="form-horizontal">
			    {% csrf_token %}
			    {% for field in contact_form.visible_fields %}
			    	<div class="form-group">
                        <div class="row">
                            <div class="col-sm-offset-3 col-sm-6"><label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label></div>
                        </div>
                        <div class="row">
			    		    <div class="col-sm-offset-3 col-sm-6">
				    		    {{ field | add_class:"form-control"}} 
				    	    </div>
                        </div>
				    </div>
			    {% endfor %}
			   


		    	<div class="form-group">
	    		<div class="col-sm-2">
		    		<input type="hidden" name="advert" value = "{{ad.id}}">	    		
		    	</div></div>
			    <div class="form-group">
                <div class="row">
				<div class="col-sm-offset-3 col-sm-6 text-center">
					<button type="submit" class="btn btn-info">
						<span class="glyphicon glyphicon-envelope"></span> Wyślij
					</button>
				</div>
                </div>
                </div>
			
			</form>
			</div>
			{% endifnotequal %}
        {% endif %}
		{% endblock contact_form %}  
	</div>
{% endblock %}
