{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Utwórz ogłoszenie{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 40px;">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h1>Edytuj to ogłoszenie</h1>
		</div>
	</div>
</div>

<!-- FORM ERRORS -->
{% if form.errors %}
	{% for field, errors in form.errors.items %}
		{% for error in errors %}
		    <div class="row">
		        <div class="text-center alert alert-danger">
		            <strong>{{ error }}</strong>
		        </div>
		    </div>
		{% endfor %}
	{% endfor %}
{% endif %}

<!-- REGISTRATION FORM FROM CONTEXT -->
<form method="POST" action="" enctype="multipart/form-data" role="form" class="form-horizontal">
    {% csrf_token %}
    {% for field in form %}
    	<div class="form-group">
    		<label class="control-label col-sm-5" for="{{ field.id_for_label }}">{{ field.label }}</label>
    		<div class="col-sm-2">
    			{% if field.html_name == "photo" %}
    				{{ field | add_class:"file" }}
    			{% else %}
	    			{{ field | add_class:"form-control" }}
	    		{% endif %}
	    	</div>
	    </div>
    {% endfor %}
    <div class="form-group">
	<div class="col-sm-offset-5 col-sm-10">
		<button type="submit" class="btn btn-default">Zmień ogłoszenie</button>
	</div>
</div>
</form>
{% endblock %}