{% extends "base.html" %}

{% block title %}
	Lista ogłoszeń
{% endblock %}

{% block content %}
	<div class="container">
	  <h2>Ogłoszenia</h2>
	  <p>Lista aktualnych ogłoszeń:</p>            
	  <table class="table table-hover">
	    <thead>
	      <tr>
	        <th>Tytuł</th>
	        <th>Data dodania</th>
	        <th>Cena</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for ad in ads_list %}

	      	<tr class="clickable-row" data-href="{{ ad.get_absolute_url }}">
				<td><strong>{{ ad.title }}</strong></td>
				<td>{{ ad.create_date }}</td>
				<td><strong>{{ ad.price }}<strong></td>
				<td class="text-center"><img class="ogloszenie-thumb" src="{{ ad.get_photo_url }}"/></td>
			</tr>
			
		  {% endfor %}
	    </tbody>
	  </table>
	</div>

	<!-- extra JQuery for clickable rows -->
	<script>
		jQuery(document).ready(function($) {
		    $(".clickable-row").click(function() {
		        window.document.location = $(this).data("href");
		    });
		});
	</script>
{% endblock %}
	