{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="pl">
	<head>
		<title> XLO - {% block title %}{% endblock %} </title>
		<meta http-equiv="Content-Language" content="pl" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block extrahead %}
		{% endblock %}

		<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		{% block extracss %}
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>	
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container=fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'home_page' %}">XLO</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="{% if request.resolver_match.url_name == "home_page" %}active{% endif %}"><a href="{% url 'home_page' %}">Strona główna</a></li>
						<li class="{% if request.resolver_match.url_name == "profiles_list" %}active{% endif %}"><a href="{% url 'profiles_list' %}">Użytkownicy</a></li>
						<li class="{% if request.resolver_match.url_name == "all_ads" %}active{% endif %}"><a href="{% url 'all_ads' %}">Wszystkie ogłoszenia</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if not user.is_authenticated %}
						    <li><a href="{% url 'registration_register' %}"><span class="glyphicon glyphicon-user"></span> Zarejestruj</a></li>
						    <li><a href="{% url 'auth_login' %}"><span class="glyphicon glyphicon-log-in"></span> Zaloguj </a></li>
						{% else %}
							<li><a href="{% url 'profiles_myprofile' %}"><span class="glyphicon glyphicon-user"></span> Witaj, {{ user.username }}</a></li>
							<li><a href="{% url 'ads_create' %}"><span class="glyphicon glyphicon-file"></span> Utwórz ogłoszenie</a></li>
							<li><a href="{% url 'messages_list' %}"><span class="glyphicon glyphicon-envelope"></span> Wiadomości</a></li>							
							<li><a href="{% url 'auth_logout' %}?next={% url 'home_page' %}"><span class="glyphicon glyphicon-log-out"></span> Wyloguj się</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{% block content %}
		{% endblock %}
	</body>

</html>