{% extends "base.html" %}

{% block title %}
	Strona Główna
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<h1>Witaj na stronie głównej</h1>
			</div>
		</div>
	</div>
{% endblock %}